.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-link:hover{
  transform: scale(1.1);
}

.film:hover{
  transform: scale(1.05);
}

.burgerNav{
  display: none;
}

.hidden{
  display: none;
}

@media only screen and (max-width: 768px) {
 .navStyle{
   flex-direction: column !important;
   justify-content: center !important;
   align-items: center !important;
   /* background-color: aqua !important; */
 }

 .burgerNav{
   display: flex !important;
   width: inherit;
   justify-content: space-between;
   align-items: center;
 }

  .navbar-link{
    display: none;
  }

  .links{
    display: none;
  }

  .navItem{
    justify-self: flex-start;
    align-self: flex-start;
  }
}

